.card{
    position:relative;
    width: 600px;
    padding:20px;
    max-width:85vw;
    height:50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 10px 53px 0px lightgrey;
}

.card_container{
    display:flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.swipe{
    position: absolute;
}

.card > h2{
    position: absolute;
    color: white;
    bottom: 5px;
}